*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

/*==========================*/
/*CONDFIGURAÇÃO GERAL*/
/*==========================*/
body{
    /* 5 TEXTO */
    font-family: sans-serif;
    font-size: 18px;
}

/*==========================*/
/*CONFIGURAÇÃO CABEÇALHO*/
/*==========================*/
.cabecalho{
    /* 1 CAIXA */
    padding: 25px 20px;

    /* 3 TAMANHO */
    min-height: 100vh;

    /* 4 VISUAL COR */
    background-color:rgb(22, 19, 14);
}

/*==========================*/
/*CONTEINER DE DIV*/
/*==========================*/
.conteiner{

    /* 1 CAIXA */
    margin: 0 auto;

    /* 2 POSIÇÃO */
    display: flex;
    flex-direction: column;

    /* 3 TAMANHO */
    width:100%;
    max-width:1200px;
}

/*==========================*/
/* MENU*/
/*==========================*/
.cabecalho_menu{
    /* 1 CAIXA */
    padding-top: 20px;
    padding-bottom: 100px;

    /* 2 POSIÇÃO */
    display: flex;
    justify-content: center;
}

 .cabecalho_menu ul{  /*o ul precisa ser declarado PARA QUE RETIRE OS SIMBOLOS DAS LINHAS */ 
    /* 2 POSIÇÃO */
    display: flex;
    gap: 30px;

    /* 4 VISUAL COR*/
    list-style: none;
}

.cabecalho_menu a{ /* ELEMENTO NORMAL -> DEFINIR A MUDANÇA A CONTECER E NO -> -> HOVER -> DEFINIR A MUDANÇA A CONTECER*/
    
    /* 4 VISUAL COR*/
    color: white;

    /* 5 TEXTO*/
    font-size: 20px;
    text-decoration: none;/*TIRA OS SUBLINHADOS*/
    text-transform: uppercase;/*TIRA OS PONTOS DAS PALAVRAS*/

    /*6 EFEITOS */
    transition: color 0.5s;

}

.cabecalho_menu a:hover{/*DEFINIÇÃO DA MUDAÇA CONTECENDO NO PAI PELO FILHO DEFININDO O QUE MUDA*/
    /* 4 VISUAL COR*/
    color: #ffc011;
}

/*==========================*/
/*----------CONTEUDO----------*/
/*==========================*/
.cabecalho_conteudo{

    /* 2 POSIÇÃO */
    width:100%;
    max-width:700px;
 
}

.cabecalho_titulo{
    
    /*1 CAIXA */
    margin-bottom: 30px;

    /* 4 VISUAL COR*/
    color: white;

    /*5 TEXTO */
    font-size: 50px;
}

.cabecalho_paragrafo{
    
    /* 1 CAIXA */
    margin-bottom: 50px;

    /* 4 VISUAL COR*/
    color: white;

    /* 5 TEXTO */
    font-size: 25px;
    line-height: 1.4;
}

/*==========================*/
/*--------BOTÃO---------*/
/*==========================*/
.cabecalho_botao{

    /* 1 CAIXA */
    padding: 15px 30px;

    /* 4 VISUAL COR*/
    background-color: #ffc011;
    color: #000000;
    border: none;
    border-radius: 10px;

    /* 5 TEXTO */
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    /* 6 EFEITOS */
    transition: 0.5s;

}

.cabecalho_botao a{
    /* 5 TEXTO */
    text-decoration: none;
    color: #000000;
}

.cabecalho_botao:hover{
    /* 4 VISUAL COR*/
    background-color: #ad7f00;
}

/*==========================*/
/*CONFIGURAÇÃO DO CONTEÚDO PRINCIPAL*/
/*==========================*/

.conteudo_principal{
    /* 1 CAIXA */
    padding: 25px 20px;

    /* 4 VISUAL */
    background-color: #e4dede;
}


.projeto_01{

    max-width:700px;
}

/*==========================*/
/*CONFIGURAÇÃO DO RODAPE*/
/*==========================*/
.rodape{ 

    /* 1 CAIXA */
    padding-top:200px;

    /* 3 TAMANHO */
    width:100%;
    min-height:250px;

    /* 4 VISUAL COR */
    background:#16130e;
    color:#fff;

    /* 5 TEXTO */
    text-align:center;
}
/*==========================*/
/* CELULAR */
/*==========================*/
@media (max-width: 768px) {

    .cabecalho {
        padding: 30px 20px;
    }

    .cabecalho_titulo {
        font-size: 36px;
    }

    .cabecalho_paragrafo {
        font-size: 20px;
    }

}