*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

body{
    font-family: sans-serif;
    font-size: 18px;
}
/* CONFIGURAÇÃO CABEÇALHO */
.cabecalho{
    background-color:rgb(22, 19, 14);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    
    align-items: center; 

    padding: 25px 20px;

}
/* MENU CENTRALIZADO */
.cabecalho_menu{
    width: 100%;

    display: flex;
    justify-content: center;
}

 .cabecalho_menu ul{  /*o ul precisa ser declarado PARA QUE RETIRE OS SIMBOLOS DAS LINHAS */ 
    display: flex;
    gap: 30px;

    list-style: none;
}

.cabecalho_menu a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.cabecalho_menu a:hover{
    color: #ffc011;
    transition: 0.5s;
}

/* CONTEUDO */
.cabecalho_conteudo{
    
    width: 100%;
    max-width: 700px;

    margin-bottom: auto;
    margin:auto;
    margin-left: 100px;
}

.cabecalho_titulo{
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
}

.cabecalho_paragrafo{
    color: white;
    font-size: 25px;
    line-height: 1.4;

    margin-bottom: 30px;
}

.cabecalho_botao{
    background-color: #ffc011;
    color: #000000;

    padding: 15px 30px;

    border: none;
    border-radius: 10px;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;/* ESSE CURSOR SE REFERE AO CURSOR DO MOUSE QUANDO PASSA POR CIMA DO BOTÃO ELE MUDA O CURSOS PARA O DESEJADO */

    transition: 0.5s;

}

.cabecalho_botao:hover{
    background-color: #ad7f00;
}

/* CONFIGURAÇÃO DO CONTEÚDO PRINCIPAL */

.conteudo_principal{
    background-color: #e4dede;
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 50px 20px;
    
}

.conteudo_h2{
    text-align: center;
}

.conteudo_p1{
    margin-left: 100px;
}

.projetos{
    margin-left: 100px;
}

.projeto_01{
    display: block;
    gap: 30px;

}
h3{
    gap: 30px;
}

p{
    gap: 30px;
}

footer{ 
    background-color: rgb(22, 19, 14);
    color: white;

    min-height: 300px;
    
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center; 

    padding: 20px;
}

/* CELULAR */

@media (max-width: 768px) {

    .cabecalho {
        padding: 30px 20px;
    }

    .cabecalho_conteudo {
        margin-left: 0;
    }

    .cabecalho_titulo {
        font-size: 36px;
    }

    .cabecalho_paragrafo {
        font-size: 20px;
    }

}